<section class="w-1/4 mb-10 px-2 overflow-hidden">
    <figure>
        <img class="w-full h-64 bg-cover bg-center rounded-lg mb-2" src="{{room.first_photo}}" />
        <figcaption>
            <div class="flex justify-between">
                <div class="flex justify-between overflow-hidden">
                    {% if room.host.superhost %}
                    <span class="uppercase font-medium text-sm border border-black text-black rounded py px-1">Superhost</span>
                    {% endif %}
                    <p class="text-sm text-gray-600 ml-1 truncate">{{room.city}}, {{room.country.name}}</p>
                </div>
                <div class="text-sm flex items-center">
                    <i class="fas fa-star text-red-500 text-xs mr-1"></i>
                    <p class="text-black">{{room.total_rating}}</p>
                </div>
            </div>
            <div>
                <p class="truncate">{{room.name}}</P>
            </div>
        </figcaption>
    </figure>
</section>
 